@import "vars";
@import "mixin";

* {
  box-sizing: border-box !important;
  font-family: 'Helvetica Neue';
}

html {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: lighten(@color-grey-light, 10);
//  .transition(background-color, .3s);

  section#viewport {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
//    .transition(transform, .2s);

    > section > header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: @header-height;
      z-index: 10;
    }
    section#main-region {
      position: absolute;
      top: @header-height;
      bottom: @footer-height;
      left: 0;
      right: 0;
      overflow-y: auto;

      &:before {
        position: absolute;
        background-color: @color-black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        opacity: 0;
        z-index: 100;
        pointer-events: none;
        .transition(opacity, .3s);
      }

      section#events-list-container {
        height: 100%;
        width: 100%;
        position: relative;

        section#events-filters {
          height: @events-filters-h;
          overflow: hidden;
        }

        section#events-list {
          position: absolute;
          top: @events-filters-h;
          left: 0;
          right: 0;
          bottom: 0;
          overflow-y: auto;
        }
      }

      section#event-details {
        position: absolute;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        width: auto;
        overflow-y: auto;
      }
    }

    > section > footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: @footer-height;
      z-index: 11;
    }
  }

}

html.trash-garbage {
  body {
    background-color: @color-black;

    #viewport {
      transform: perspective(52em) rotateX(-30deg) scale3d(0.8, .9, 3) translateY(-20px)
    }
  }
}

html.has-event {
  body {
    section#viewport {
      section#main-region {

        section#events-list-container {
          width: 40%;
        }
        section#event-details {
          left: 40%;
        }
      }
    }
  }
}

html.is-searching {
  body {
    section#viewport {

      #main-region {
        &:before {
          pointer-events: auto;
          opacity: .8;
        }
      }
    }
  }
}