button,
.button {
  .transition(background-color, .2s);
  border: 0;
  background-color: @color-sunflower;
  color: @color-black;
  padding: @base-padding-small/2 @base-padding-small;
  font-size: .7em;
  border-bottom: 3px solid darken(@color-sunflower, 10);

  &:hover {
    background-color: darken(@color-sunflower, 5);
  }

  &.loading {
    pointer-events: none;
    opacity: .6;
  }
}