@import "vars";
@import "mixin";

section#events-list-container {
  width: 40%;

  section#events-filters {
    background-color: lighten(@color-grey, 15);
    padding: 0 @base-padding-small;
    line-height: @events-filters-h;
    vertical-align: middle;

    button {
      vertical-align: middle;
      display: inline-block;
    }
  }

  section#events-list {
    background-color: @color-grey;
    padding: @base-padding-small / 2;

    .info {
      padding: @base-padding-small;
    }

    .date-group-sep {
      .clearfix();

      border-bottom: 50px solid transparent;

      &:before {
        .clearfix();
      }

      &:after {
        .clearfix();
      }

      &:first-child {
        border-bottom: 0;
      }
    }

    header.date-group {
      position: relative;
      float: left;
      width: 20%;
      overflow: hidden;
      padding-top: 20%;

      &:before {
        .clearfix();
      }

      .date-group-content {
        position: absolute;
        width: 94%;
        height: 92%;
        top: 3%;
        left: 3%;
        z-index: 1;
        padding: @base-padding / 2 @base-padding;
        background: @color-white;
        box-shadow: 0 2px 6px #777;

        &:before {
          position: absolute;
          bottom: -3px;
          height: 3px;
          width: 100%;
          content: "";
          background: darken(@color-white, 10);
          box-shadow: 0 1px 2px #888;
          left: 0;
          transform: scaleX(0.97);
          z-index: 3;
        }

        &:after {
          position: absolute;
          bottom: -7px;
          height: 4px;
          width: 100%;
          content: "";
          background: darken(@color-white, 20);
          box-shadow: 0px 2px 2px #888;
          left: 0;
          transform: scaleX(0.91);
        }

        h3 {
          font-weight: 400;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          text-align: center;
          text-transform: uppercase;

          span {
            display: block;
            color: @color-pomegranate;
            font-size: 1em;
            font-weight: bold;
            line-height: 1em;
            text-transform: capitalize;

            &:first-child {
              .gradient(@color-pomegranate, darken(@color-pomegranate, 7));
              font-weight: 400;
              font-size: 1em;
              color: @color-white;
              line-height: 1.3em;
              padding: 12px;
            }
            &:nth-child(2) {
              color: @color-black;
              font-size: 4.7em;
              line-height: 1em;
              font-weight: 400;
            }
          }
        }
      }

    }

    .event-item {
      position: relative;
      float: left;
      width: 20%;
      overflow: hidden;
      padding-top: 20%;

      &.active {
        background-color: @color-sunflower;

        .event-item-container {
          background-color: @color-sunflower;
        }
      }

      &.crap {
        &:before {
          position: absolute;
          content: "CRAP!";
          left: 50%;
          top: 50%;
          height: 30px;
          width: 100px;
          line-height: 30px;
          vertical-align: middle;
          margin: -15px 0 0 -50px;
          color: @color-white;
          font-size: 20px;
          background-color: @color-alizarin;
          z-index: 5;
          text-align: center;
          transform: rotate(-7deg);
          box-shadow: 0 2px 4px @color-black;
        }

        .event-item-container {
          opacity: .5;
          .blur(.8px, .7);
        }
      }

      .event-item-container {
        .clearfix();
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        z-index: 1;
        overflow: hidden;
        padding: @base-padding / 2 @base-padding;
        cursor: pointer;
        background-color: @color-cyan;
//        .transition(all, .3s);


        .event-pictures-container {
          .transition(opacity, .7s);
          position: absolute;
          overflow: hidden;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          opacity: .5;
          background: url(/assets/images/logo-retaliate.svg) no-repeat center center;
          background-size: 40%;
          background-color: @color-cyan;

          &:hover {
            opacity: 1;
          }

          .event-picture {
            .transition(opacity, .7s);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;

            &.done {
              opacity: 0;
            }

          }
        }

        .event-details {
          position: absolute;
//          width: 100%;
          bottom: 0;
          left: 0;
          padding: @base-padding-small;
          font-size: 80%;
          z-index: 3;
          background-color: rgba(33, 33, 33, .7);

          h3 {
            font-size: 1.05em;
            color: @color-white;
            margin: 0 0 3px 0;
            padding: 0;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 1.1em;
          }
          h5 {
            font-size: .8em;
            font-weight: 300;
            margin: 0 0 0 0;
            color: darken(@color-white, 25);
          }
          h6 {
            font-size: .7em;
            font-weight: 400;
            margin: 0;
            color: @color-sunflower;
          }
          small {
            color: @color-black;
            font-size: .55em;
            font-weight: 300;
          }
        }

        .media-heading {
          font-size: 1.8vmax;

          .is-crap {
            color: @color-pomegranate;
          }

          .is-awesome {
            color: @color-sunflower;
          }
        }

        &.selected {
          background: rgba(255, 255, 255, .1);

          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -20px;
            border: 20px solid transparent;
            border-right-color: #7f8c8d;
          }
        }

        &.cancelled {
          .event-pictures-container {
            &:before {
              position: absolute;
              content: "";
              background: @color-pomegranate;
              top: 0;
              left: 0;
              z-index: 9;
              width: 100%;
              height: 100%;
              opacity: .5;
            }
            &:after {
              position: absolute;
              content: "CANCELLED";
              background: @color-pomegranate;
              padding: 3px 6px;
              top: 38%;
              left: 0;
              z-index: 10;
              color: @color-white;
              width: 100%;
              overflow: hidden;
              font-size: .55em;
              text-align: center;
              box-sizing: border-box;
            }
          }
          .event-details {
            h3 {
              color: @color-pomegranate;
            }
          }
        }
      }

      &.awesome {
        font-size: 140%;
        width: 40%;

        .event-item-container {
          background-color: @color-sunflower !important;
        }

        &:after {
          background: url(/assets/images/star.svg) no-repeat center center;
          background-size: cover;
          width: 30px;
          height: 30px;
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1;
        }
      }

      &:nth-child(20n+1) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 0%);
      }
      &:nth-child(20n+2) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 10%);
      }
      &:nth-child(20n+3) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 20%);
      }
      &:nth-child(20n+4) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 30%);
      }
      &:nth-child(20n+5) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 40%);
      }
      &:nth-child(20n+6) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 50%);
      }
      &:nth-child(20n+7) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 60%);
      }
      &:nth-child(20n+8) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 70%);
      }
      &:nth-child(20n+9) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 80%);
      }
      &:nth-child(20n+10) .event-item-container {
        background-color: mix(@color-sunflower, @color-cyan, 100%);
      }
      &:nth-child(20n+11) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 90%);
      }
      &:nth-child(20n+12) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 80%);
      }
      &:nth-child(20n+13) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 70%);
      }
      &:nth-child(20n+14) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 60%);
      }
      &:nth-child(20n+15) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 50%);
      }
      &:nth-child(20n+16) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 40%);
      }
      &:nth-child(20n+17) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 30%);
      }
      &:nth-child(20n+18) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 20%);
      }
      &:nth-child(20n+19) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 10%);
      }
      &:nth-child(20n+20) .event-item-container {
        background-color: mix(@color-cyan, @color-sunflower, 0%);
      }
    }

    .load-more {
      float: none;
      clear: both;
      padding: 25px 0;
      text-align: center;

      button {
        font-size: 1em;
        clear: both;
        float: none;
        display: block;
        margin: 21px auto;
      }
    }

  }
}

html.has-event {
  body section#viewport section#main-region section#events-list-container {
    #events-list {
      .event-item,
      header.date-group {
        width: 50%;
        padding-top: 50%;
      }
    }
  }
}

html.has-search-events {
  body section#viewport section#main-region section#events-list-container {
    #events-list {
      .load-more {
        display: none;
      }
    }
  }
}