@import "vars";
@import "mixin";

section#event-details {
//  .transition(left, .5s);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: @color-white;
  padding: 0;

  header {
    position: relative;
    margin: -@base-padding 0 @base-padding -@base-padding;
    padding: 0;
    overflow: hidden;
    min-height: @base-padding * 2;
    .transition(height, .4s);

    .placeholder {
      max-height: 0px;
      overflow: hidden;
      width: 100%;
      .transition(max-height, .7s);
    }

    .header-image {
      position: absolute;
      top: -5px;
      bottom: -5px;
      left: -5px;
      right: -5px;
      background-color: @color-grey-light;
      background-size: cover;
      background-position: center center;
      z-index: 0;
      .blur(0, .4);
      .transition(all, .4s);
    }

    h5 {
      position: absolute;
      z-index: 2;
      bottom: 5px;
      left: @base-padding;
      font-size: 1em;
      font-weight: 300;
      color: @color-white;
      padding: 0 0 25px 0;
      margin: 0;
      .transition(opacity, .3s);

      small {
        width: 52px;
        display: inline-block;
        background: @color-black;
        color: @color-white;
        padding: 3px 5px;
        font-size: 12px;
        text-transform: uppercase;
        vertical-align: middle;
        margin-right: @base-padding/2;
        text-align: center;
        margin-top: -5px;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    &.hover {
      .placeholder {
        max-height: 500px;
      }

      .header-image {
        .blur(0, 1);
      }

      h5 {
        opacity: .2;
      }
    }

    &.no-image {
      min-height: 40px;
      margin-bottom: 5px;

      .placeholder, .header-image {
        display: none;
      }

      h5 {
        color: @color-black;
      }

      &:hover {
        h5 {
          opacity: 1;
        }
      }
    }
  }

  section {
    .clearfix();
    position: relative;
    padding-right: @base-padding;

    h3 {
      color: @color-white;
      font-size: 4vmin;
      font-weight: 400;
      margin: 0 0 @base-padding-small;
    }
    h5 {
      font-size: 1.2em;
      margin: 0 @base-padding-small @base-padding-small 0;
      font-weight: 400;
      position: relative;
    }
    h6 {
      font-size: 1em;
      margin: @base-padding-small @base-padding-small @base-padding-small 0;
      font-weight: 400;
    }

    .age-restriction {
      position: absolute;
      right: 10px;
      font-size: 12px;
      background: @color-alizarin;
      text-align: center;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      color: @color-white;
      box-shadow: 0px 1px 2px @color-pomegranate;
      border: 1px solid @color-pomegranate;
    }

    .external-link {
      display: block;
      text-decoration: none;
      color: @color-sunflower;
      font-size: .75em;

      &:hover {
        text-decoration: underline;
        color: darken(@color-sunflower, 10);
      }
    }

    &.bands {
      .bands-list {
        padding-bottom: @base-padding;

        h5 {
          color: @color-black;
          margin-left: 14px;
          display: inline-block;
          font-size: 1.3em;
          margin-bottom: 3px;
          margin-right: 4px;

          a {
            color: @color-black;
            text-decoration: none;
            display: inline-block;
            margin-left: 10px;
            .transition(color, .2s);

            &:hover {
              color: @color-sunflower;
            }
          }

          &:before {
            content: "+";
            font-size: 100%;
            position: absolute;
            left: -9px;
            top: 0px;
          }

          &:first-child {
            margin-left: 0;

            a {
              margin-left: 0;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }

    &.venue {
      @venue-content-w: 75%;
      min-height: 100px;

      .content {
        width: @venue-content-w;
        float: right;
        padding: 0 0 @base-padding-small @base-padding;

        h3 {
          margin-bottom: 0;
          color: @color-black;
          font-size: 1em;

          a {
            color: @color-black;
            font-size: 1em;
            text-decoration: none;

            &:hover {
              color: @color-sunflower;
            }
          }
        }

        h5 {
          color: lighten(@color-black, 15);
          font-size: .8em;
          margin: 5px 0;
        }

        small {
          background: @color-black;
          color: @color-white;
          display: inline-block;
          padding: 3px 5px;
          text-transform: uppercase;
          margin: 0 0 @base-padding-small 0;
          font-size: .6em;
        }

        .description {
          width: 100%;
          overflow: hidden;

          p {
            margin: 0;
            font-size: 13px;
            font-weight: 300;
            height: 45px;

            &.expanded {
              height: auto;

              &:after {
                display: none;
              }

              &:before {
                content: "LESS";
                background-color: @color-white;
              }
            }

            &:before {
              content: "MORE";
              text-align: right;
              position: absolute;
              bottom: 0;
              right: 20px;
              height: 25px;
              z-index: 3;
              cursor: pointer;
              font-weight: 400;
            }

            &:after {
              content: "";
              text-align: right;
              position: absolute;
              bottom: 0;
              right: 0;
              width: 160px;
              height: 25px;
              background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }
          }
        }

      }
      .map {
        position: absolute;
        top: 0;
        left: 0;
        right: @venue-content-w;
        background-size: cover;
        background-position: center center;
        min-height: 100px;
      }
    }

    &.infos {
      margin-top: @base-padding/2;
      position: relative;
      min-height: 330px;

      .player {
        position: absolute;
        top: 0;
        left: 0;
        height: 330px;
        width: 228px;

        iframe {
          width: 100%;
          height: 330px;
        }
      }
      .artists-list {
        padding: 0 @base-padding @base-padding 0;

        h5 {
          margin-bottom: 4px;
        }

        .related-artists-list {
          line-height: .75em;

          h6 {
            color: @color-sunflower;
            font-size: .9em;
            margin-top: 13px;
          }

          small {
            font-size: .75em;
            font-weight: 300;
          }
        }
      }

      &.has-tracks {
        .artists-list {
          padding-left: 248px;
        }
      }
    }
  }

  .is-festival {
    header {
      min-height: 60px;
    }
  }

}

html.has-event {
  section#event-details {
    padding: @base-padding 0 0 @base-padding;
  }
}