html {
  body {
    #viewport {
      section > footer {
        background-color: @color-black;

        p {
          margin: 0 @base-padding;
          line-height: @footer-height;
          vertical-align: middle;
          color: @color-turquoise;
          font-size: .6em;
          font-weight: 300;
          float: left;
          width: 50%;

          a {
            color: @color-white;
            text-decoration: none;

            &:hover {
              color: @color-turquoise;
            }
          }
        }

        a.by-songkick {
          float: right;
          position: relative;
          width: 86px;

          img {
            height: 14px;
            margin: 7px 120px 0 0;
          }

          &:before {
            content: "";
            position: absolute;
            right: @base-padding;
            top: 0;
            background: url(/assets/images/by-songkick.png) no-repeat center center;
            width: 86px;
            height: @footer-height;
          }

          span {
            display: none;
          }
        }

        > img {
          float: right;
          margin: 5px 121px 0 0;
        }
      }
    }
  }
}