html {
  body {
    #viewport {
      > section > header {
        background-color: @color-black;
        z-index: 110;
        position: relative;

        h1 {
          .transition(color, .3s);
          font-size: 25px;
          font-weight: 300;
          margin: @base-padding-small @base-padding;
          float: left;
          cursor: pointer;
          line-height: @header-height - @base-padding;
          vertical-align: middle;
          color: @color-white;
          background: url(/assets/images/logo-retaliate.svg) no-repeat;
          background-size: contain;
          text-indent: -9000px;
          width: 50px;

          &:hover {
            color: darken(@color-white, 30);
          }
        }
        .filter-input {
          .transition(width, .6s);
          position: absolute;
          top: 6px;
          right: @base-padding;
          height: @header-height - 14;
          border: 0;
          width: 25%;
//          max-width: 340px;
          font-size: 14px;
          font-weight: 300;
          padding: 0 30px 0 10px;
        }
        .search-actions {
          position: absolute;
          top: 6px;
          right: 20px;
          display: none;
          vertical-align: middle;

          .results-count {
            font-size: .8em;
            line-height: 2.2em;
            text-align: right;
            color: @color-grey;
          }

          .search-reset {
            background: url(/assets/images/cross.png) no-repeat center center;
            width: 12px;
            height: 12px;
            display: inline-block;
            vertical-align: middle;
            padding: 15px 15px 16px;
            cursor: pointer;

            &:hover {
              background-color: @color-grey-light;
            }
          }

        }
      }
    }

    &[ng-controller=MainAdmin] {
      #viewport > section > header h1 {
        &:after {
          content: "ADMIN";
          position: absolute;
          color: darken(@color-white, 15);
          left: 80px;
          top: 0;
          text-indent: 0;
          font-size: 9px;
        }
      }
    }
  }

  &.is-searching {
    body {
      #viewport {
        > section > header {
          .filter-input {
            width: 50%;
          }
          .search-actions {
            display: block;
          }
        }
      }
    }
  }

  &.has-search-events {
    body {
      #viewport {
        > section > header {
          .search-actions {
            display: block;

//            .results-count {
//              display: none;
//            }
          }
        }
      }
    }
  }
}