.modal-container {
  .transition(opacity, .3s);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, .8);
  opacity: 1;
  visibility: visible;
  z-index: 11;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  .modal-component {
    .transition(all, .3s);
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: @color-white;

    .modal-content {
      padding: @base-padding;
      display: inline-block;
      background-color: @color-white;

      h2 {
        margin: 0 0 @base-padding;
        font-weight: 400;
        color: @color-black;
      }

      .button {
        margin: 0 @base-padding-small @base-padding-small 0;
        background-color: @color-grey-light;

        &.is-crap {
          background-color: @color-shit;
          color: @color-white;
        }

        &.is-awesome {
          background-color: @color-sunflower;
        }
      }

    }
    footer {
      padding: @base-padding-small @base-padding;
      background-color: darken(@color-white, 15);
      text-align: right;

      button {
        font-size: .9em;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}