/// No event

@media (max-width: 910px) {
  @tile: 25%;

  html:not(.has-event) {
    body #viewport #main-region #events-list-container #events-list {
      header.date-group, .event-item {
        width: @tile;
        padding-top: @tile;

        &.awesome-first {
          width: @tile * 2;
        }
      }
      header.date-group .date-group-content h3 {
        font-size: 2.5vw;
      }
    }
  }
}


@media (max-width: 700px) {
  @tile: 33%;

  html:not(.has-event) {
    body #viewport #main-region #events-list-container #events-list {
      header.date-group, .event-item {
        width: @tile;
        padding-top: @tile;

        &.awesome-first {
          width: @tile * 2;
        }
      }
      header.date-group .date-group-content h3 {
        font-size: 2.9vw;
      }
    }
  }
}


@media (max-width: 450px) {
  @tile: 50%;

  html:not(.has-event) {
    body #viewport #main-region #events-list-container #events-list {
      header.date-group, .event-item {
        width: @tile;
        padding-top: @tile;

        &.awesome-first {
          width: @tile;
        }
      }
      header.date-group .date-group-content h3 {
        font-size: 4.5vw;
      }
    }
  }
}


//// RESPONSIVE SMALL - MOBILE
@media (max-width: 400px) {

  html:not(.has-event) {
    body #viewport #main-region #events-list-container #events-list {
      .event-item {
        width: 50%;
      }
    }
  }
}


/// Has event

html.has-event {
  @media (max-width: 1000px) {
    body #viewport #main-region #events-list-container #events-list {
      header.date-group .date-group-content {
        h3 {
          font-size: 1.9vw;

          > span:first-child {
            padding: 1vh;
          }
        }
      }
    }
  }


  @media (max-width: 700px) {
    body section#viewport section#main-region section#events-list-container #events-list {
      header.date-group, .event-item {
        width: 100%;
        padding-top: 100%;
      }
      header.date-group .date-group-content h3 {
        font-size: 2.9vw;
      }
    }
  }


  @media (max-width: 400px) {
    body {
      section#viewport {
        section#main-region {
          overflow: hidden;

          section#event-details {
            padding: @base-padding-small;

            header {
              margin-right: -10px;
            }
          }

          section#events-list-container {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 75%;
            width: 100%;
            height: auto;
            overflow-x: auto;

            section#events-filters {
              display: none;
            }

            section#events-list {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              overflow-y: hidden;
              overflow-x: auto;
              white-space: nowrap;

              .event-item {
                width: 50%;
                float: none;
                display: inline-block;
                height: 100%;
                vertical-align: middle;

                .event-item-container {
                  height: 100%;
                }
              }

              header.date-group {
                height: 100%;
                width: 50%;
                display: inline-block;
                padding: 0;
                margin: 0;
                background-color: @color-black;
                vertical-align: middle;
                background-image: none;

                .date-group-content {

                  h3 {
                    padding: @base-padding-small;
                    margin: 0;
                    white-space: normal;
                    font-size: 1.7em !important;
                    color: @color-white;

                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }
          }

          section#event-details {
            left: 0;
            bottom: 25%;
          }
        }
      }
    }
  }
}