@header-height: 45px;
@footer-height: 30px;
@event-height: 120px;

@base-padding: 20px;
@base-padding-small: 10px;


@color-white      : #fff;
@color-turquoise  : #1abc9c;
@color-wet-asphalt: #34495E;
@color-concrete   : #95a5a6;
@color-grey       : #acacac;
@color-grey-light : #d7d4d4;
@color-sunflower  : #F1C40F;
@color-silver     : #BDC3C7;
@color-pomegranate: #C0392B;
@color-alizarin   : #E74C3C;
@color-black      : #222;
@color-shit       : #602a18;
@color-cyan       : #26c0d3;


/// Events list
@events-filters-h : 40px;