<loader ng-include="'/templates/components/main/loader.html'" ng-show="events.length == 0 && searchQuery == ''"></loader>
<p class="info" ng-show="searchQuery != '' && events.length == 0">No events match for search criteria!</p>

<div class="date-group-sep" ng-if="$index > 0 && filteredEvents[$index-1].start.date != event.start.date" ng-repeat-start="event in (filteredEvents = (events | filter:showCrapEvents)) "></div>

<header event-index="{{$index}}" ng-if="$index == 0 || filteredEvents[$index-1].start.date != event.start.date" class="date-group" ng-class="{'first': $first}">
    <div class="date-group-content">
        <h3 ng-bind-html="::event.start.date | date:'EEEE, d MMMM' | eventListDate"></h3>
    </div>
</header>

<div class="event-item" ng-show="event.crap == false || showCrap == true" id="{{::event.id}}" ng-class="{'crap': event.crap == true, 'awesome': event.awesome == true, 'awesome-first': event.awesome == true && filteredEvents[$index-1].awesome != true}" ng-repeat-end>
    <div ng-click="openEvent(this, $event)" class="event-item-container" ng-class="{'cancelled': event.status == 'cancelled'}" pictures-rodeo>
        <div class="event-pictures-container">
            <div ng-if="event.pictures.length > 0" ng-repeat="picture in event.pictures" class="event-picture" style="background-image: url({{::staticHost}}/bands/{{::picture}})"></div>
        </div>
        <div class="event-details">
            <h3 class="media-heading">
                <span ng-repeat="band in event.performance | limitTo: 10">
                    <bandname ng-class="{'is-awesome': band.awesome, 'is-crap': band.crap}">{{::band.name}}</bandname><em ng-if="!$last">,</em>
                </span>
                <span ng-if="event.performance.length > 10">
                    <a class="and-more">and more...</a>
                </span>
                <span ng-if="event.performance.length == 0 && event.type == 'Festival'">Line-up unknown</span>
            </h3>
            <h5>{{::event.venue.displayName}}</h5>
            <h6 ng-if="event.type == 'Festival'">Festival</h6>
        </div>
    </div>
</div>

<div class="load-more" ng-hide="noMoreEvents">
    <button ng-click="loadMoreEvents()">Load more</button>
</div>
