<div class="center">
    <div class="bouncywrap">

        <div class="dotcon dc1">
            <div class="dot"></div>
        </div>

        <div class="dotcon dc2">
            <div class="dot"></div>
        </div>

        <div class="dotcon dc3">
            <div class="dot"></div>
        </div>

    </div>
</div>