<section id="events-list-container" ng-controller="EventsController">
    <section id="events-filters">
        <button ng-click="toggleCrapEvents()">{{(showCrap == true) ? "Hide" : "Show"}} crap</button>
    </section>
    <section id="events-list" infinite-load ng-include="'/templates/components/events/view.html'"></section>
</section>

<section id="event-details" class="palette-concrete" ng-controller="EventController" ng-class="{'has-player': hasPlayer}" ng-include="'/templates/components/event/view.html'"></section>