doctype
html(lang="en", ng-app="Scraper", xmlns:ng="http://angularjs.org", id="ng-app")
  head
    title Live Retaliate
    meta(charset="UTF-8")
    meta(name="viewport", content="width=100%, initial-scale=1.0, maximum-scale=1.0 user-scalable=no width=device-width")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(name="mobile-web-app-capable", content="yes")
    meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
    meta(content="black", name="apple-mobile-web-app-status-bar-style")
    meta(content="nohover", name="pinterest")
    link(rel='stylesheet', href='/assets/css/app.css')
    script(type="text/javascript").
      var LiveEnvironment = "#{environment}";
      var LiveApiUri = "#{apiuri}";
      var LiveStaticHost = "#{staticHost}";

  body(ng-controller="Main#{(admin === true) ? 'Admin' : ''}")
    section#viewport
      section(ng-include="'/templates/components/header/view.html'")

      section#main-region(ng-view)

      section(ng-include="'/templates/components/footer/view.html'")

    modal-container

  script(src="assets/js/#{appfile}")
  script(src="assets/js/admin.min.js")
