<header ng-controller="HeaderController")>
    <h1 ng-click="$emit('event:hide')" title="Live Retaliate">Live retaliate</h1>
    <input class="filter-input" type="text" ng-model="query" ng-focus="startSearch()" ng-blur="stopSearch()" value="" placeholder="Search"/>
    <div class="search-actions">
        <span class="results-count">{{eventResults.length}}</span>
        <a class="search-reset" ng-click="$broadcastAll('app:search:clear')"></a>
    </div>
</header>