<footer>
    <p>2014 <a href="http://www.bitterbrown.com" target="_blank">Bitterbrown Ltd</a></p>
    <a class="by-songkick" href="http://www.songkick.com" target="_blank">
        <span>Concerts by Songkick</span>
    </a>
    <img src="https://bitterbrown.dploy.io/badge/02267417958972/15325.png" alt="Deployment status from dploy.io"/>
</footer>