@import "fonts.css";
@import "animate.css";
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,500,300,100);
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  box-sizing: border-box !important;
  font-family: 'Helvetica Neue';
}
html {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f0eeee;
}
body section#viewport {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%;
}
body section#viewport > section > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 10;
}
body section#viewport section#main-region {
  position: absolute;
  top: 45px;
  bottom: 30px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
body section#viewport section#main-region:before {
  position: absolute;
  background-color: #222222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
body section#viewport section#main-region section#events-list-container {
  height: 100%;
  width: 100%;
  position: relative;
}
body section#viewport section#main-region section#events-list-container section#events-filters {
  height: 40px;
  overflow: hidden;
}
body section#viewport section#main-region section#events-list-container section#events-list {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
body section#viewport section#main-region section#event-details {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  width: auto;
  overflow-y: auto;
}
body section#viewport > section > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 11;
}
html.trash-garbage body {
  background-color: #222222;
}
html.trash-garbage body #viewport {
  transform: perspective(52em) rotateX(-30deg) scale3d(0.8, 0.9, 3) translateY(-20px);
}
html.has-event body section#viewport section#main-region section#events-list-container {
  width: 40%;
}
html.has-event body section#viewport section#main-region section#event-details {
  left: 40%;
}
html.is-searching body section#viewport #main-region:before {
  pointer-events: auto;
  opacity: .8;
}
button,
.button {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  border: 0;
  background-color: #f1c40f;
  color: #222222;
  padding: 5px 10px;
  font-size: .7em;
  border-bottom: 3px solid #c29d0b;
}
button:hover,
.button:hover {
  background-color: #dab10d;
}
button.loading,
.button.loading {
  pointer-events: none;
  opacity: .6;
}
.modal-container {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  visibility: visible;
  z-index: 11;
}
.modal-container.hide {
  opacity: 0;
  visibility: hidden;
}
.modal-container .modal-component {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
}
.modal-container .modal-component .modal-content {
  padding: 20px;
  display: inline-block;
  background-color: #ffffff;
}
.modal-container .modal-component .modal-content h2 {
  margin: 0 0 20px;
  font-weight: 400;
  color: #222222;
}
.modal-container .modal-component .modal-content .button {
  margin: 0 10px 10px 0;
  background-color: #d7d4d4;
}
.modal-container .modal-component .modal-content .button.is-crap {
  background-color: #602a18;
  color: #ffffff;
}
.modal-container .modal-component .modal-content .button.is-awesome {
  background-color: #f1c40f;
}
.modal-container .modal-component footer {
  padding: 10px 20px;
  background-color: #d9d9d9;
  text-align: right;
}
.modal-container .modal-component footer button {
  font-size: .9em;
  text-transform: uppercase;
  white-space: nowrap;
}
html body #viewport > section > header {
  background-color: #222222;
  z-index: 110;
  position: relative;
}
html body #viewport > section > header h1 {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  font-size: 25px;
  font-weight: 300;
  margin: 10px 20px;
  float: left;
  cursor: pointer;
  line-height: 25px;
  vertical-align: middle;
  color: #ffffff;
  background: url(/assets/images/logo-retaliate.svg) no-repeat;
  background-size: contain;
  text-indent: -9000px;
  width: 50px;
}
html body #viewport > section > header h1:hover {
  color: #b3b3b3;
}
html body #viewport > section > header .filter-input {
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
  position: absolute;
  top: 6px;
  right: 20px;
  height: 31px;
  border: 0;
  width: 25%;
  font-size: 14px;
  font-weight: 300;
  padding: 0 30px 0 10px;
}
html body #viewport > section > header .search-actions {
  position: absolute;
  top: 6px;
  right: 20px;
  display: none;
  vertical-align: middle;
}
html body #viewport > section > header .search-actions .results-count {
  font-size: .8em;
  line-height: 2.2em;
  text-align: right;
  color: #acacac;
}
html body #viewport > section > header .search-actions .search-reset {
  background: url(/assets/images/cross.png) no-repeat center center;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 15px 16px;
  cursor: pointer;
}
html body #viewport > section > header .search-actions .search-reset:hover {
  background-color: #d7d4d4;
}
html body[ng-controller=MainAdmin] #viewport > section > header h1:after {
  content: "ADMIN";
  position: absolute;
  color: #d9d9d9;
  left: 80px;
  top: 0;
  text-indent: 0;
  font-size: 9px;
}
html.is-searching body #viewport > section > header .filter-input {
  width: 50%;
}
html.is-searching body #viewport > section > header .search-actions {
  display: block;
}
html.has-search-events body #viewport > section > header .search-actions {
  display: block;
}
html body #viewport section > footer {
  background-color: #222222;
}
html body #viewport section > footer p {
  margin: 0 20px;
  line-height: 30px;
  vertical-align: middle;
  color: #1abc9c;
  font-size: .6em;
  font-weight: 300;
  float: left;
  width: 50%;
}
html body #viewport section > footer p a {
  color: #ffffff;
  text-decoration: none;
}
html body #viewport section > footer p a:hover {
  color: #1abc9c;
}
html body #viewport section > footer a.by-songkick {
  float: right;
  position: relative;
  width: 86px;
}
html body #viewport section > footer a.by-songkick img {
  height: 14px;
  margin: 7px 120px 0 0;
}
html body #viewport section > footer a.by-songkick:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  background: url(/assets/images/by-songkick.png) no-repeat center center;
  width: 86px;
  height: 30px;
}
html body #viewport section > footer a.by-songkick span {
  display: none;
}
html body #viewport section > footer > img {
  float: right;
  margin: 5px 121px 0 0;
}
section#events-list-container {
  width: 40%;
}
section#events-list-container section#events-filters {
  background-color: #d2d2d2;
  padding: 0 10px;
  line-height: 40px;
  vertical-align: middle;
}
section#events-list-container section#events-filters button {
  vertical-align: middle;
  display: inline-block;
}
section#events-list-container section#events-list {
  background-color: #acacac;
  padding: 5px;
}
section#events-list-container section#events-list .info {
  padding: 10px;
}
section#events-list-container section#events-list .date-group-sep {
  border-bottom: 50px solid transparent;
}
section#events-list-container section#events-list .date-group-sep:before,
section#events-list-container section#events-list .date-group-sep:after {
  content: " ";
  display: table;
}
section#events-list-container section#events-list .date-group-sep:after {
  clear: both;
}
section#events-list-container section#events-list .date-group-sep:before:before,
section#events-list-container section#events-list .date-group-sep:before:after {
  content: " ";
  display: table;
}
section#events-list-container section#events-list .date-group-sep:before:after {
  clear: both;
}
section#events-list-container section#events-list .date-group-sep:after:before,
section#events-list-container section#events-list .date-group-sep:after:after {
  content: " ";
  display: table;
}
section#events-list-container section#events-list .date-group-sep:after:after {
  clear: both;
}
section#events-list-container section#events-list .date-group-sep:first-child {
  border-bottom: 0;
}
section#events-list-container section#events-list header.date-group {
  position: relative;
  float: left;
  width: 20%;
  overflow: hidden;
  padding-top: 20%;
}
section#events-list-container section#events-list header.date-group:before:before,
section#events-list-container section#events-list header.date-group:before:after {
  content: " ";
  display: table;
}
section#events-list-container section#events-list header.date-group:before:after {
  clear: both;
}
section#events-list-container section#events-list header.date-group .date-group-content {
  position: absolute;
  width: 94%;
  height: 92%;
  top: 3%;
  left: 3%;
  z-index: 1;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0 2px 6px #777;
}
section#events-list-container section#events-list header.date-group .date-group-content:before {
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 100%;
  content: "";
  background: #e6e6e6;
  box-shadow: 0 1px 2px #888;
  left: 0;
  transform: scaleX(0.97);
  z-index: 3;
}
section#events-list-container section#events-list header.date-group .date-group-content:after {
  position: absolute;
  bottom: -7px;
  height: 4px;
  width: 100%;
  content: "";
  background: #cccccc;
  box-shadow: 0px 2px 2px #888;
  left: 0;
  transform: scaleX(0.91);
}
section#events-list-container section#events-list header.date-group .date-group-content h3 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
section#events-list-container section#events-list header.date-group .date-group-content h3 span {
  display: block;
  color: #c0392b;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  text-transform: capitalize;
}
section#events-list-container section#events-list header.date-group .date-group-content h3 span:first-child {
  background-color: #c0392b;
  background: -webkit-gradient(linear, left top, left bottom, from(#c0392b), to(#a33024));
  background: -webkit-linear-gradient(top, #c0392b, #a33024);
  background: -moz-linear-gradient(top, #c0392b, #a33024);
  background: -ms-linear-gradient(top, #c0392b, #a33024);
  background: -o-linear-gradient(top, #c0392b, #a33024);
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  line-height: 1.3em;
  padding: 12px;
}
section#events-list-container section#events-list header.date-group .date-group-content h3 span:nth-child(2) {
  color: #222222;
  font-size: 4.7em;
  line-height: 1em;
  font-weight: 400;
}
section#events-list-container section#events-list .event-item {
  position: relative;
  float: left;
  width: 20%;
  overflow: hidden;
  padding-top: 20%;
}
section#events-list-container section#events-list .event-item.active {
  background-color: #f1c40f;
}
section#events-list-container section#events-list .event-item.active .event-item-container {
  background-color: #f1c40f;
}
section#events-list-container section#events-list .event-item.crap:before {
  position: absolute;
  content: "CRAP!";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 100px;
  line-height: 30px;
  vertical-align: middle;
  margin: -15px 0 0 -50px;
  color: #ffffff;
  font-size: 20px;
  background-color: #e74c3c;
  z-index: 5;
  text-align: center;
  transform: rotate(-7deg);
  box-shadow: 0 2px 4px #222222;
}
section#events-list-container section#events-list .event-item.crap .event-item-container {
  opacity: .5;
  -webkit-filter: blur(0.8px) brightness(0.7);
  -moz-filter: blur(0.8px) brightness(0.7);
  -ms-filter: blur(0.8px) brightness(0.7);
  filter: blur(0.8px) brightness(0.7);
}
section#events-list-container section#events-list .event-item .event-item-container {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  overflow: hidden;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #26c0d3;
}
section#events-list-container section#events-list .event-item .event-item-container:before,
section#events-list-container section#events-list .event-item .event-item-container:after {
  content: " ";
  display: table;
}
section#events-list-container section#events-list .event-item .event-item-container:after {
  clear: both;
}
section#events-list-container section#events-list .event-item .event-item-container .event-pictures-container {
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .5;
  background: url(/assets/images/logo-retaliate.svg) no-repeat center center;
  background-size: 40%;
  background-color: #26c0d3;
}
section#events-list-container section#events-list .event-item .event-item-container .event-pictures-container:hover {
  opacity: 1;
}
section#events-list-container section#events-list .event-item .event-item-container .event-pictures-container .event-picture {
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
section#events-list-container section#events-list .event-item .event-item-container .event-pictures-container .event-picture.done {
  opacity: 0;
}
section#events-list-container section#events-list .event-item .event-item-container .event-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 80%;
  z-index: 3;
  background-color: rgba(33, 33, 33, 0.7);
}
section#events-list-container section#events-list .event-item .event-item-container .event-details h3 {
  font-size: 1.05em;
  color: #ffffff;
  margin: 0 0 3px 0;
  padding: 0;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.1em;
}
section#events-list-container section#events-list .event-item .event-item-container .event-details h5 {
  font-size: .8em;
  font-weight: 300;
  margin: 0 0 0 0;
  color: #bfbfbf;
}
section#events-list-container section#events-list .event-item .event-item-container .event-details h6 {
  font-size: .7em;
  font-weight: 400;
  margin: 0;
  color: #f1c40f;
}
section#events-list-container section#events-list .event-item .event-item-container .event-details small {
  color: #222222;
  font-size: .55em;
  font-weight: 300;
}
section#events-list-container section#events-list .event-item .event-item-container .media-heading {
  font-size: 1.8vmax;
}
section#events-list-container section#events-list .event-item .event-item-container .media-heading .is-crap {
  color: #c0392b;
}
section#events-list-container section#events-list .event-item .event-item-container .media-heading .is-awesome {
  color: #f1c40f;
}
section#events-list-container section#events-list .event-item .event-item-container.selected {
  background: rgba(255, 255, 255, 0.1);
}
section#events-list-container section#events-list .event-item .event-item-container.selected:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  border: 20px solid transparent;
  border-right-color: #7f8c8d;
}
section#events-list-container section#events-list .event-item .event-item-container.cancelled .event-pictures-container:before {
  position: absolute;
  content: "";
  background: #c0392b;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: .5;
}
section#events-list-container section#events-list .event-item .event-item-container.cancelled .event-pictures-container:after {
  position: absolute;
  content: "CANCELLED";
  background: #c0392b;
  padding: 3px 6px;
  top: 38%;
  left: 0;
  z-index: 10;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
  font-size: .55em;
  text-align: center;
  box-sizing: border-box;
}
section#events-list-container section#events-list .event-item .event-item-container.cancelled .event-details h3 {
  color: #c0392b;
}
section#events-list-container section#events-list .event-item.awesome {
  font-size: 140%;
  width: 40%;
}
section#events-list-container section#events-list .event-item.awesome .event-item-container {
  background-color: #f1c40f !important;
}
section#events-list-container section#events-list .event-item.awesome:after {
  background: url(/assets/images/star.svg) no-repeat center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
section#events-list-container section#events-list .event-item:nth-child(20n+1) .event-item-container {
  background-color: #26c0d3;
}
section#events-list-container section#events-list .event-item:nth-child(20n+2) .event-item-container {
  background-color: #3ac0bf;
}
section#events-list-container section#events-list .event-item:nth-child(20n+3) .event-item-container {
  background-color: #4fc1ac;
}
section#events-list-container section#events-list .event-item:nth-child(20n+4) .event-item-container {
  background-color: #63c198;
}
section#events-list-container section#events-list .event-item:nth-child(20n+5) .event-item-container {
  background-color: #77c285;
}
section#events-list-container section#events-list .event-item:nth-child(20n+6) .event-item-container {
  background-color: #8cc271;
}
section#events-list-container section#events-list .event-item:nth-child(20n+7) .event-item-container {
  background-color: #a0c25d;
}
section#events-list-container section#events-list .event-item:nth-child(20n+8) .event-item-container {
  background-color: #b4c34a;
}
section#events-list-container section#events-list .event-item:nth-child(20n+9) .event-item-container {
  background-color: #c8c336;
}
section#events-list-container section#events-list .event-item:nth-child(20n+10) .event-item-container {
  background-color: #f1c40f;
}
section#events-list-container section#events-list .event-item:nth-child(20n+11) .event-item-container {
  background-color: #3ac0bf;
}
section#events-list-container section#events-list .event-item:nth-child(20n+12) .event-item-container {
  background-color: #4fc1ac;
}
section#events-list-container section#events-list .event-item:nth-child(20n+13) .event-item-container {
  background-color: #63c198;
}
section#events-list-container section#events-list .event-item:nth-child(20n+14) .event-item-container {
  background-color: #77c285;
}
section#events-list-container section#events-list .event-item:nth-child(20n+15) .event-item-container {
  background-color: #8cc271;
}
section#events-list-container section#events-list .event-item:nth-child(20n+16) .event-item-container {
  background-color: #a0c25d;
}
section#events-list-container section#events-list .event-item:nth-child(20n+17) .event-item-container {
  background-color: #b4c34a;
}
section#events-list-container section#events-list .event-item:nth-child(20n+18) .event-item-container {
  background-color: #c8c336;
}
section#events-list-container section#events-list .event-item:nth-child(20n+19) .event-item-container {
  background-color: #ddc423;
}
section#events-list-container section#events-list .event-item:nth-child(20n+20) .event-item-container {
  background-color: #f1c40f;
}
section#events-list-container section#events-list .load-more {
  float: none;
  clear: both;
  padding: 25px 0;
  text-align: center;
}
section#events-list-container section#events-list .load-more button {
  font-size: 1em;
  clear: both;
  float: none;
  display: block;
  margin: 21px auto;
}
html.has-event body section#viewport section#main-region section#events-list-container #events-list .event-item,
html.has-event body section#viewport section#main-region section#events-list-container #events-list header.date-group {
  width: 50%;
  padding-top: 50%;
}
html.has-search-events body section#viewport section#main-region section#events-list-container #events-list .load-more {
  display: none;
}
section#event-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
}
section#event-details header {
  position: relative;
  margin: -20px 0 20px -20px;
  padding: 0;
  overflow: hidden;
  min-height: 40px;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}
section#event-details header .placeholder {
  max-height: 0px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  -ms-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
}
section#event-details header .header-image {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: #d7d4d4;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  -webkit-filter: blur(0) brightness(0.4);
  -moz-filter: blur(0) brightness(0.4);
  -ms-filter: blur(0) brightness(0.4);
  filter: blur(0) brightness(0.4);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
section#event-details header h5 {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 20px;
  font-size: 1em;
  font-weight: 300;
  color: #ffffff;
  padding: 0 0 25px 0;
  margin: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
section#event-details header h5 small {
  width: 52px;
  display: inline-block;
  background: #222222;
  color: #ffffff;
  padding: 3px 5px;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
  margin-top: -5px;
}
section#event-details header h5:last-child {
  padding-bottom: 0;
}
section#event-details header.hover .placeholder {
  max-height: 500px;
}
section#event-details header.hover .header-image {
  -webkit-filter: blur(0) brightness(1);
  -moz-filter: blur(0) brightness(1);
  -ms-filter: blur(0) brightness(1);
  filter: blur(0) brightness(1);
}
section#event-details header.hover h5 {
  opacity: .2;
}
section#event-details header.no-image {
  min-height: 40px;
  margin-bottom: 5px;
}
section#event-details header.no-image .placeholder,
section#event-details header.no-image .header-image {
  display: none;
}
section#event-details header.no-image h5 {
  color: #222222;
}
section#event-details header.no-image:hover h5 {
  opacity: 1;
}
section#event-details section {
  position: relative;
  padding-right: 20px;
}
section#event-details section:before,
section#event-details section:after {
  content: " ";
  display: table;
}
section#event-details section:after {
  clear: both;
}
section#event-details section h3 {
  color: #ffffff;
  font-size: 4vmin;
  font-weight: 400;
  margin: 0 0 10px;
}
section#event-details section h5 {
  font-size: 1.2em;
  margin: 0 10px 10px 0;
  font-weight: 400;
  position: relative;
}
section#event-details section h6 {
  font-size: 1em;
  margin: 10px 10px 10px 0;
  font-weight: 400;
}
section#event-details section .age-restriction {
  position: absolute;
  right: 10px;
  font-size: 12px;
  background: #e74c3c;
  text-align: center;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #ffffff;
  box-shadow: 0px 1px 2px #c0392b;
  border: 1px solid #c0392b;
}
section#event-details section .external-link {
  display: block;
  text-decoration: none;
  color: #f1c40f;
  font-size: .75em;
}
section#event-details section .external-link:hover {
  text-decoration: underline;
  color: #c29d0b;
}
section#event-details section.bands .bands-list {
  padding-bottom: 20px;
}
section#event-details section.bands .bands-list h5 {
  color: #222222;
  margin-left: 14px;
  display: inline-block;
  font-size: 1.3em;
  margin-bottom: 3px;
  margin-right: 4px;
}
section#event-details section.bands .bands-list h5 a {
  color: #222222;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
section#event-details section.bands .bands-list h5 a:hover {
  color: #f1c40f;
}
section#event-details section.bands .bands-list h5:before {
  content: "+";
  font-size: 100%;
  position: absolute;
  left: -9px;
  top: 0px;
}
section#event-details section.bands .bands-list h5:first-child {
  margin-left: 0;
}
section#event-details section.bands .bands-list h5:first-child a {
  margin-left: 0;
}
section#event-details section.bands .bands-list h5:first-child:before {
  display: none;
}
section#event-details section.venue {
  min-height: 100px;
}
section#event-details section.venue .content {
  width: 75%;
  float: right;
  padding: 0 0 10px 20px;
}
section#event-details section.venue .content h3 {
  margin-bottom: 0;
  color: #222222;
  font-size: 1em;
}
section#event-details section.venue .content h3 a {
  color: #222222;
  font-size: 1em;
  text-decoration: none;
}
section#event-details section.venue .content h3 a:hover {
  color: #f1c40f;
}
section#event-details section.venue .content h5 {
  color: #484848;
  font-size: .8em;
  margin: 5px 0;
}
section#event-details section.venue .content small {
  background: #222222;
  color: #ffffff;
  display: inline-block;
  padding: 3px 5px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-size: .6em;
}
section#event-details section.venue .content .description {
  width: 100%;
  overflow: hidden;
}
section#event-details section.venue .content .description p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  height: 45px;
}
section#event-details section.venue .content .description p.expanded {
  height: auto;
}
section#event-details section.venue .content .description p.expanded:after {
  display: none;
}
section#event-details section.venue .content .description p.expanded:before {
  content: "LESS";
  background-color: #ffffff;
}
section#event-details section.venue .content .description p:before {
  content: "MORE";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 25px;
  z-index: 3;
  cursor: pointer;
  font-weight: 400;
}
section#event-details section.venue .content .description p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 25px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 50%);
}
section#event-details section.venue .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 75%;
  background-size: cover;
  background-position: center center;
  min-height: 100px;
}
section#event-details section.infos {
  margin-top: 10px;
  position: relative;
  min-height: 330px;
}
section#event-details section.infos .player {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  width: 228px;
}
section#event-details section.infos .player iframe {
  width: 100%;
  height: 330px;
}
section#event-details section.infos .artists-list {
  padding: 0 20px 20px 0;
}
section#event-details section.infos .artists-list h5 {
  margin-bottom: 4px;
}
section#event-details section.infos .artists-list .related-artists-list {
  line-height: .75em;
}
section#event-details section.infos .artists-list .related-artists-list h6 {
  color: #f1c40f;
  font-size: .9em;
  margin-top: 13px;
}
section#event-details section.infos .artists-list .related-artists-list small {
  font-size: .75em;
  font-weight: 300;
}
section#event-details section.infos.has-tracks .artists-list {
  padding-left: 248px;
}
section#event-details .is-festival header {
  min-height: 60px;
}
html.has-event section#event-details {
  padding: 20px 0 0 20px;
}
loader {
  z-index: 12312312;
  padding-top: 50%;
  height: 100%;
  margin-top: 200px;
}
.center {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 90vmin;
  z-index: 4567890;
}
.bouncywrap {
  position: relative;
}
.dotcon {
  display: block;
  float: left;
  width: 50px;
  position: absolute;
}
.dc1 {
  -webkit-animation: bouncy1 1.5s infinite;
  left: -40px;
  animation: bouncy1 1.5s infinite;
}
.dc2 {
  -webkit-animation: bouncy2 1.5s infinite;
  animation: bouncy2 1.5s infinite;
  left: 0;
}
.dc3 {
  -webkit-animation: bouncy3 1.5s infinite;
  animation: bouncy3 1.5s infinite;
  left: 40px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f1c40f;
}
@-webkit-keyframes bouncy1 {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(40px, 0px) rotate(-180deg);
  }
}
@keyframes bouncy1 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(180deg);
  }
  100% {
    transform: translate(40px, 0px) rotate(-180deg);
  }
}
@-webkit-keyframes bouncy2 {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(-40px);
  }
}
@keyframes bouncy2 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(-40px);
  }
}
@-webkit-keyframes bouncy3 {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-40px);
  }
}
@keyframes bouncy3 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-40px);
  }
}
#main-region.static-content {
  background: #ffffff !important;
  padding: 0 20px;
  font-size: 120%;
}
@media (max-width: 910px) {
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item {
    width: 25%;
    padding-top: 25%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group.awesome-first,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item.awesome-first {
    width: 50%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group .date-group-content h3 {
    font-size: 2.5vw;
  }
}
@media (max-width: 700px) {
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item {
    width: 33%;
    padding-top: 33%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group.awesome-first,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item.awesome-first {
    width: 66%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group .date-group-content h3 {
    font-size: 2.9vw;
  }
}
@media (max-width: 450px) {
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item {
    width: 50%;
    padding-top: 50%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group.awesome-first,
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item.awesome-first {
    width: 50%;
  }
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list header.date-group .date-group-content h3 {
    font-size: 4.5vw;
  }
}
@media (max-width: 400px) {
  html:not(.has-event) body #viewport #main-region #events-list-container #events-list .event-item {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  html.has-event body #viewport #main-region #events-list-container #events-list header.date-group .date-group-content h3 {
    font-size: 1.9vw;
  }
  html.has-event body #viewport #main-region #events-list-container #events-list header.date-group .date-group-content h3 > span:first-child {
    padding: 1vh;
  }
}
@media (max-width: 700px) {
  html.has-event body section#viewport section#main-region section#events-list-container #events-list header.date-group,
  html.has-event body section#viewport section#main-region section#events-list-container #events-list .event-item {
    width: 100%;
    padding-top: 100%;
  }
  html.has-event body section#viewport section#main-region section#events-list-container #events-list header.date-group .date-group-content h3 {
    font-size: 2.9vw;
  }
}
@media (max-width: 400px) {
  html.has-event body section#viewport section#main-region {
    overflow: hidden;
  }
  html.has-event body section#viewport section#main-region section#event-details {
    padding: 10px;
  }
  html.has-event body section#viewport section#main-region section#event-details header {
    margin-right: -10px;
  }
  html.has-event body section#viewport section#main-region section#events-list-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 75%;
    width: 100%;
    height: auto;
    overflow-x: auto;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-filters {
    display: none;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list .event-item {
    width: 50%;
    float: none;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list .event-item .event-item-container {
    height: 100%;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list header.date-group {
    height: 100%;
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #222222;
    vertical-align: middle;
    background-image: none;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list header.date-group .date-group-content h3 {
    padding: 10px;
    margin: 0;
    white-space: normal;
    font-size: 1.7em !important;
    color: #ffffff;
  }
  html.has-event body section#viewport section#main-region section#events-list-container section#events-list header.date-group .date-group-content h3:after {
    display: none;
  }
  html.has-event body section#viewport section#main-region section#event-details {
    left: 0;
    bottom: 25%;
  }
}
