<loader ng-show="activeEvent == false"></loader>

<div ng-show="activeEvent != false" event-id="{{activeEvent.id}}" class="is-{{activeEvent.type | lowercase}}">
    <header ng-mouseover="hover = true" ng-mouseleave="hover=false" ng-class="{'hover': hover, 'no-image': activeEvent.pictureDetails == '' || activeEvent.pictureDetails == undefined}">
        <div class="header-image" style="background-image: url({{activeEvent.pictureDetails}})"></div>
        <img class="placeholder" src="{{activeEvent.pictureDetails}}" alt=""/>
        <h5><small ng-if="activeEvent.end.date">Start</small> {{activeEvent.start | fullEventDate}}</h5>
        <h5 ng-if="activeEvent.end.date"><small ng-if="activeEvent.end.date">End</small> {{activeEvent.end | fullEventDate}}</h5>
    </header>

    <section class="bands">
        <div class="bands-list">
            <h5 ng-repeat="band in activeEvent.performance">
                <a href="{{band.href}}" target="_blank">{{band.name}}</a>
            </h5>
        </div>
    </section>

    <section class="venue">
        <div class="content">
            <span ng-if="activeEvent.ageRestriction" class="age-restriction">{{activeEvent.ageRestriction}}</span>
            <h3><a ng-href="{{activeEvent.venue.uri}}" target="_blank">{{activeEvent.venue.displayName}}</a></h3>
            <h5 ng-if="activeEvent.venue.address != ''">{{activeEvent.venue.address}}</h5>
            <small ng-if="activeEvent.venue.phone != null && activeEvent.venue.phone != ''">Tel: {{activeEvent.venue.phone}}</small>
            <a class="external-link" href="{{activeEvent.uri}}" target="_blank">View event on SongKick</a>
        </div>
        <a class="map" href="http://maps.google.com/maps?ll={{activeEvent.venue.lat}},{{activeEvent.venue.lng}}&amp;q={{activeEvent.venue.lat}},{{activeEvent.venue.lng}}&amp;z=15" target="_blank" style="background-image: url()">
            <img width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center={{activeEvent.venue.lat}},{{activeEvent.venue.lng}}&amp;zoom=14&amp;size=300x200&amp;sensor=false&amp;markers=color%3A0xf80046%7C{{activeEvent.venue.lat}}%2C{{activeEvent.venue.lng}}&amp;" alt=""/>
        </a>
    </section>

    <section class="infos" ng-class="{'has-tracks': activeEvent.tracks.length > 0}">
        <div class="artists-list" ng-if="relatedArtists">
            <h5>Related artists</h5>
            <div ng-if="related.length > 0" ng-repeat="(band, related) in relatedArtists" class="related-artists-list">
                <h6 ng-if="activeEvent.performance.length > 1">{{band | stripQuotes}}</h6>
                <small ng-repeat="rel in related">
                    {{rel}}<span ng-if="!$last">,&nbsp;</span>
                </small>
            </div>
        </div>

        <div class="player" ng-show="activeEvent.tracks.length > 0">
            <h5 ng-if="activeEvent.tracks.length > 0">Listen</h5>
            <iframe name="player" src="" width="100%" height="330" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </section>

</div>