<div class="modal-container" ng-class="{'hide': show == false}" ng-click="close($event)">
    <div class="modal-component">
        <div class="modal-content">
            <h2 ng-if="title">{{title}}</h2>
            <p ng-if="description">{{description}}</p>
            <button band-button ng-repeat="button in buttons" property="{{prop}}"></button>

        </div>
        <footer>
            <button class="action-button" ng-click="markEvent()">Mark EVENT as {{prop}}</button>
        </footer>
    </div>
</div>