<div style="padding: 0 20px">
    <h1>Stats</h1>

    <h3>Summary</h3>
    <table>
        <tr>
            <td>Total events</td><td><strong>{{events.length}}</strong></td>
        </tr>
        <tr>
            <td>Total crap events</td><td><strong>{{events | crap:true}} ({{events | crap:true | percent:events}})</strong></td>
        </tr>
        <tr>
            <td>Total awesome events</td><td><strong>{{events | awesome:true}} ({{events | awesome:true | percent:events}})</strong></td>
        </tr>
        <tr>
            <td>Total bands</td><td><strong>{{bands.length}}</strong></td>
        </tr>
    </table>

    <hr/>

    <h3>Events with data missing</h3>


</div>